<div class="box">
    <div class="row">
        <div class="cell">
            <canvasjs-chart
        [options]="pieChartOptions"
        [styles]="{height: '360px' }"
        ></canvasjs-chart>
        </div>
        <div class="cell">
            <canvasjs-chart
        [options]="pieChartOptions2"
        [styles]="{height: '360px' }"
        ></canvasjs-chart>
        </div>
    </div>
</div>

<div class="summary">
    <table>
          <tr>
            <th>Total Spent</th>
            <th>Total Spent on Savings / Loan / Rent</th>
            <th>Remaining Balance</th>
          </tr>
          <tr>
            <td>{{totalSpent}}</td>
            <td>{{totalSaved}}</td>
            <td>{{remainingBalance}}</td>
          </tr>
      </table>
</div>
