.dropFile {
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  background-color: #1fc8db;
  background-image: linear-gradient(
    140deg,
    #dbeae4 0%,
    #70a8bc 50%,
    #41cad6e0 75%
  );
  color: white;
  opacity: 0.95;
  text-align: center;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mobile-label {
    display: none;
  }

@media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }

h4 {
    font-size: 24px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #83808f, #161817 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }

.center {
    margin: auto;
    width: 60%;
    text-align: center;
  }

.reader-content {
  border-radius: 0.5em;
  margin: 1em;
  background: azure;
  text-align: center;
  background-image: linear-gradient(
    140deg,
    #dbeae4 0%,
    #70a8bc 50%,
    #41cad6e0 75%
  );
}

.table-content {
  height: 100%;
  padding: 0.2em;
  overflow: auto;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
